{# 
    Edit this template to suit your needs.
    Extend the base template to add your own custom structure and styles.
    This template is based on Bootstrap 5 and TailwindCSS.
    Choose the style you prefer and replace the content of this file.
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>